<a href="#panel_controls" data-role="button" data-icon="gear" data-theme="a" class="btn ui-btn-left" style="margin-top:6px;">Tools</a>
<div data-dismissible="false" class="center-wrapper"><img id="header_logo" src="./assets/img_items/logo.png" alt="SitePlan" style="margin-top:0px;"></div>

<div class="split-custom-wrapper" style="float: right !important;height:32px;margin-top:10px;right:0px !important;">
    <!-- <a id="b_back" href="javascript:history.go(-1);history.pushState(null, null, location.href);" data-role="button" class="split-custom-button" data-icon="back" data-theme="a"></a> -->
    <a id="b_back" (click)="goBack2App($event)" href="#" data-role="button" class="split-custom-button" data-icon="back" data-theme="a"></a>
    <!-- <a id="b_delete" (click)="deleteImage($event)" href="#" data-role="button" class="split-custom-button" data-icon="delete" data-theme="a"></a> -->
    <!-- <a id="b_save" (click)="saveImage($event)" href="#" data-role="button" class="split-custom-button" data-icon="save" data-theme="a"></a> -->
    <!-- <a id="b_clouds" (click)="nextCloud($event)" data-corners="false" href="#" data-role="button" class="split-custom-button" data-icon="delete" data-theme="a" data-iconpos="notext"></a> -->  
 </div>

 <!-- <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Length / Width</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="caption">
                        <h3 id="length"></h3>
                        <h3 id="width"></h3>                  
                        </div>
                    </div>                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->